##### The Notebook only refers to my Higher Mathematics Scientific research paper, where I have illustrated some popular and trendy apporaches and techniques in sentiment analysis

### REMOVING PUNTCUATION

### TOKENIZATION & REMOVING STOPWORDS

In [30]:
from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize  
  
example_sent = """This is a scientific research paper."""
  
stop_words = set(stopwords.words('english'))  
  
word_tokens = word_tokenize(example_sent)  
  
filtered_sentence = [w for w in word_tokens if not w in stop_words]  
  
filtered_sentence = []  
  
for w in word_tokens:  
    if w not in stop_words:  
        filtered_sentence.append(w)  
  
print(word_tokens)  
print(filtered_sentence)

['This', 'is', 'a', 'scientific', 'research', 'paper', '.']
['This', 'scientific', 'research', 'paper', '.']

### STEMMING & LEMMATIZATION

In [32]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()
words = ['playing', 'plays', 'played']
stemmed = [stemmer.stem(word) for word in words]
print(stemmed)

['play', 'play', 'play']

In [60]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer


lemmatizer = WordNetLemmatizer()
words = ['feet']
lemmatized = [lemmatizer.lemmatize(word) for word in words]
print(lemmatized)

['foot']

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Jubaiar\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [58]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()
words = ['feet']
stemmed = [stemmer.stem(word) for word in words]
print(stemmed)

['feet']

In [125]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer


dataset = ["Jupiter is the largest planet",
           "Mars is the fourth planet from the sun"]

### TF-IDF

In [129]:
tfIdfVectorizer=TfidfVectorizer(use_idf=True)
tfIdf = tfIdfVectorizer.fit_transform(dataset)
df = pd.DataFrame(tfIdf[0].T.todense(),
                  index=tfIdfVectorizer.get_feature_names(), 
                  columns=["TF-IDF"])
df = df.sort_values('TF-IDF', ascending=False)
df

           TF-IDF
jupiter  0.533098
largest  0.533098
is       0.379303
planet   0.379303
the      0.379303
fourth   0.000000
from     0.000000
mars     0.000000
sun      0.000000

### COSINE SIMILARITY

In [132]:
doc_1 ="Data is the oil of the digital economy"
doc_2 = "Data is a new oil"

data = [doc_1, doc_2]

In [133]:

from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()
vector_matrix = count_vectorizer.fit_transform(data)
vector_matrix

<2x8 sparse matrix of type '<class 'numpy.int64'>'
	with 11 stored elements in Compressed Sparse Row format>

In [134]:
tokens = count_vectorizer.get_feature_names()
tokens

['data', 'digital', 'economy', 'is', 'new', 'of', 'oil', 'the']

In [137]:
vector_matrix.toarray()

array([[1, 1, 1, 1, 0, 1, 1, 2],
       [1, 0, 0, 1, 1, 0, 1, 0]], dtype=int64)

In [141]:
import pandas as pd

def create_dataframe(matrix, tokens):

    doc_names = [f'doc_{i+1}' for i, _ in enumerate(matrix)]
    df = pd.DataFrame(data=matrix, index=doc_names, columns=tokens)
    return(df)

In [142]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity_matrix = cosine_similarity(vector_matrix)
create_dataframe(cosine_similarity_matrix, ['doc_1', 'doc_2'])

          doc_1     doc_2
doc_1  1.000000  0.474342
doc_2  0.474342  1.000000